@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div>
    <h3 style="color:blueviolet">Mira la cadena sin cifrar</h3>
    <h5 style="color:cadetblue"> @ViewBag.Cadena </h5>
</div>

@*C:\Windows\Microsoft.NET\Framework64\v4.0.30319>aspnet_regiis -pef "connectionStrings" "C:\Users\MCSD2017\Documents\Visual Studio 2017\Projects\ESTUDIO\SeguridadEmpleados\SeguridadEmpleados\SeguridadEmpleados"
Microsoft (R) ASP.NET RegIIS versión 4.0.30319.0
Utilidad de administración que instala y desinstala ASP.NET en el equipo local.
Copyright (C) Microsoft Corporation. Todos los derechos reservados.
Cifrando la sección de configuración...
Con éxito

C:\Windows\Microsoft.NET\Framework64\v4.0.30319>aspnet_regiis -pdf "connectionStrings" "C:\Users\MCSD2017\Documents\Visual Studio 2017\Projects\ESTUDIO\SeguridadEmpleados\SeguridadEmpleados\SeguridadEmpleados"
Microsoft (R) ASP.NET RegIIS versión 4.0.30319.0
Utilidad de administración que instala y desinstala ASP.NET en el equipo local.
Copyright (C) Microsoft Corporation. Todos los derechos reservados.
Descifrando la sección de configuración...
Con éxito*@